.footer {
    background-color: rgb(192, 190, 190);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    height:200px;
}
.button {
    margin-right: 50px;
    justify-content: space-between;
    padding:10px;
    border: none;
   background-color:  rgb(192, 190, 190);
   height: 20%;
}
.lowerbutton {
    margin-right: 80px;
    justify-content: space-between;
    padding:30px;
    border:none;
    background-color: rgb(192, 190, 190);
    height:3%;
}
.footerbelow {
    height: 40px;
    background-color: rgb(239, 239, 10);
    display:flex;
    
}
.text {
    font-Size: 1;
}

.insta {
    margin-left: 30px;
    cursor: pointer;
}
.my-2 {
    cursor:pointer;
}
.flex {
    display: flex;
}